@font-face {
    font-family: 'uni_sansheavy';
    src: url('uni-sans-heavy-webfont.woff2') format('woff2'), url('uni-sans-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}