<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Discord Token Login by tnfAngel</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="../fuentes/fuentes.css" type="text/css" />
        <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="../css/index.css" type="text/css" />

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    </head>

    <body>
        <div class="anim_abajo_insta">
            <div class="encabezado" id="infousuario">
                <div class="fondo" style="background-color: #333; filter: blur(0px)">
                </div>
                <div id="contenido" class="contenido" style="height: 250px;">
                </div>
            </div>
        </div>
        <div class="cuerpo anim_abajo_insta">
            <div class="row g-3">
                <div class="col-auto">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control login" style="background-color: transparent; width: 650px;" id="token" placeholder="TOKEN">
                        <button class="btn btn-outline dropdown-toggle login" style="background-color: transparent; width: 200px; padding-left: 20px; text-align: center;" id="cuentas-token" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select Account</button>
                        <ul class="dropdown-menu dropdown-menu-end menu-app" id="cuentas-dropdown" style="width: 200px;">
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <button id="login" class="btn login btn-success mb-3" style="width: 120px" disabled="disabled">LOGIN</button>
                </div>
                <div class="col-auto">
                    <button id="guardar" class="btn login btn-info mb-3 " style="width: 120px" disabled="disabled">SAVE</button>
                    <button id="eliminar" class="btn login btn-danger mb-3" style="width: 120px; display: none">DELETE</button>
                </div>
            </div>

            <textarea type="text" class="form-control login anim_abajo_insta" style="background-color: transparent; font-family: 'Courier New', Courier, monospace; height: 310px; resize: none; font-size: 11px;" id="consola" placeholder="Respuesta JSON" readonly>{'text': 'Please add a token.'}</textarea>

            <input type="text" style="display: none;" id="objToken">
        </div>
        <script type="text/javascript" src="../js/index.js"></script>
    </body>
</html>