<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="../fuentes/fuentes.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="../css/index.css" type="text/css" charset="utf-8" />

        <style type="text/css">
            body {
                font-family: 'uni_sansheavy';
                margin: 0;
                background-color: #333;
            }

            ::-webkit-scrollbar {
                width: 10px;
            }
            ::-webkit-scrollbar-track {
                background: #282a2e;
            }

            ::-webkit-scrollbar-thumb {
                background: #1c1c1c;
                border-radius: 5px;
            }

            ::-webkit-scrollbar-thumb:hover {
                background: #121212;
            }
            
            ::selection {
                color: #5865F2;
                background: #282a2e;
            }

        </style>

        <title>Discord Token Login by tnfAngel</title>
    </head>

    <body>
        <div class="anim_abajo_insta">
            <div class="barra-control" style="padding: 3px; ">
                <div class="drag">
                    <h1 style="font-size: 12px; margin-left: 2px; letter-spacing: 1px; position: absolute;">DISCORD TOKEN LOGIN BY <span class="blurple" style="letter-spacing: 1px;">TNFANGEL</span>#8642</h1>
                </div>
                <div class="botones"><div class="boton-min" id="min-button"><span class="dot"><i class="fas fa-minus"></i></span></div><div class="boton-cerrar" id="close-button"><span class="dot-peligro"><i class="fas fa-times"></i></span></div></div>
            </div>
            <div class="encabezado" id="infousuario">
                <div class="fondo" style="background-color: #333; filter: blur(0px)">
                </div>
                <div id="contenido" class="contenido" style="height: 250px;">
                </div>
                </div>
            </div>
        </div>
        <div class="cuerpo anim_abajo_insta">
            <div class="row g-3">
                <div class="col-auto">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control login" style="background-color: transparent; width: 667px;" id="token" placeholder="TOKEN">
                        <button class="btn btn-outline dropdown-toggle login" style="background-color: transparent; width: 200px; padding-left: 20px; text-align: center;" id="cuentas-token" type="button" data-bs-toggle="dropdown" aria-expanded="false">Seleccionar cuenta</button>
                        <ul class="dropdown-menu dropdown-menu-end menu-app" id="cuentas-dropdown" style="width: 200px;">
                        </ul>
                      </div>
                </div>
                <div class="col-auto">
                    <button id="login" class="btn login btn-success mb-3" style="width: 120px" disabled="disabled">LOGIN</button>
                </div>
                <div class="col-auto">
                    <button id="guardar" class="btn login btn-info mb-3 " style="width: 120px" disabled="disabled">GUARDAR</button>
                    <button id="eliminar" class="btn login btn-danger mb-3" style="width: 120px; display: none">ELIMINAR</button>
                </div>
            </div>

            <textarea type="text" class="form-control login anim_abajo_insta" style="background-color: transparent; font-family: 'Courier New', Courier, monospace; height: 300px; resize: none; font-size: 11px;" id="consola" placeholder="Respuesta JSON" readonly>{'text': 'No has puesto ningún token.'}</textarea>

            <input type="text" style="display: none;" id="objToken">
        </div>

        <script>
        
            const axios = require('axios')
            
            const electron = require('electron')

            const remote = electron.remote

            const ipc = electron.ipcRenderer

            $(document).ready(function () {

                const win = remote.getCurrentWindow()

                function agregarToken(datos) {

                    let tokens = localStorage.getItem('cuentas')

                    if (!tokens) {
                        
                        localStorage.setItem('cuentas', JSON.stringify([datos]))

                        return true

                    } else {
                        
                        let tokensArr = JSON.parse(tokens)

                        let existe = tokensArr.find(x => x.token && x.token == datos.token)
                        
                        if (existe) return false

                        tokensArr.push(datos)
                        
                        localStorage.setItem('cuentas', JSON.stringify(tokensArr))

                        return true
                    
                    }
                    
                }

                $('#login').click(function() {

                    ipc.send('app:login', token())

                })

                $('#guardar').click(function() {

                    let cuenta = JSON.parse($('#objToken').val())

                    if (!agregarToken(cuenta)) return document.getElementById('consola').innerHTML = "{'text': 'No se ha podido guardar el token. Comprueba que el token no se halla guardado anteriormente.'}"
                    
                    document.getElementById('consola').innerHTML = `{'text': 'Se ha guardado la cuenta ${cuenta.nombre} correctamente.'}`

                    $('#cuentas-token').html(`<img src="${cuenta.avatar}" class="foto-token" alt="Avatar"> ${cuenta.nombre.length >= 12 ? cuenta.nombre.substr(0, 12).toUpperCase().concat('...') : cuenta.nombre.toUpperCase()}`)

                    actualizarCuentas()

                    verGuardar(false)

                })

                $('#eliminar').click(function() {

                    let cuenta = JSON.parse($('#objToken').val())

                    let tokensArr = JSON.parse(localStorage.getItem('cuentas'))

                    let index = tokensArr.map(function(x) { return x.token }).indexOf(cuenta.token)

                    tokensArr.splice(index, 1)

                    localStorage.setItem('cuentas', JSON.stringify(tokensArr))

                    document.getElementById('consola').innerHTML = `{'text': 'Se ha eliminado la cuenta ${cuenta.nombre} correctamente.'}`

                    actualizarCuentas()

                    $('#cuentas-token').html('Seleccionar cuenta')
                    
                    verGuardar(true)

                })

                $('#min-button').click(function() {

                    win.minimize()

                })

                $('#close-button').click(function() {

                    win.close()
                    
                })

                actualizarCuentas()
        
            })

            function token() {

                return $("#token").val().trim()
            
            }


            function verGuardar(bool) {
                
                if (bool) {

                    $('#guardar').show()
                    $('#eliminar').hide()

                } else {

                    $('#guardar').hide()
                    $('#eliminar').show()

                }

            }

            function actualizarCuentas() {

                let cuentasArr = []
                
                let cuentas = localStorage.getItem('cuentas')

                if (cuentas && JSON.parse(cuentas).length > 0) {


                    JSON.parse(cuentas).reverse().forEach(cuenta => {

                        if (cuenta.token != token()) {

                            cuentasArr.push(`<li><div class="dropdown-item seleccionar-cuenta" value="${cuenta.token}" title="Token: ${cuenta.token}"><img src="${cuenta.avatar}" class="foto-token" alt="Avatar"> ${cuenta.nombre.length >= 15 ? cuenta.nombre.substr(0, 15).toUpperCase().concat('...') : cuenta.nombre.toUpperCase()}</div></li>`)
                        
                        }

                    })

                    if (cuentasArr.length == 0) cuentasArr.push(`<li><div class="dropdown-item sin-seleccionar">SIN MAS CUENTAS</div></li>`)
                
                } else {

                    cuentasArr.push(`<li><div class="dropdown-item sin-seleccionar">SIN CUENTAS GUARDADAS</div></li>`)

                }

                
                document.getElementById('cuentas-dropdown').innerHTML = cuentasArr.join(``)

                let elements = document.querySelectorAll('.seleccionar-cuenta')

                for (var x = 0; x < elements.length; x++) {

                    elements[x].addEventListener('click', async function() {

                        let token = this.getAttribute('value')
                        $('#token').val(token)
                        let tokens = JSON.parse(localStorage.getItem('cuentas'))
                        let cuenta = tokens.find(x => x.token == token)
                        $('#cuentas-token').html(`<img src="${cuenta.avatar}" class="foto-token" alt="Avatar"> ${cuenta.nombre.length >= 12 ? cuenta.nombre.substr(0, 12).toUpperCase().concat('...') : cuenta.nombre.toUpperCase()}`)
                        verGuardar(false)
                        await peticionDiscord()

                    }, false)

                }
            }

            let ejecutado = false

            function actualizarPerfil(usuario) {

                let phoneFns = require('phone-fns')

                let perfil = `
                    <div class="fondo" style="background-image: url('${usuario.id ? usuario.banner ? `https://cdn.discordapp.com/banners/${usuario.id}/${usuario.banner}.webp` : usuario.avatar ? `https://cdn.discordapp.com/avatars/${usuario.id}/${usuario.avatar}.webp` : 'https://cdn.discordapp.com/embed/avatars/0.png' : 'https://images4.alphacoders.com/909/thumb-1920-909912.png'}');">

                    </div>
                    <div id="contenido" class="contenido${ejecutado ? '' : ' anim_arriba_insta'}">
                        
                        <button class="menu-token" style="background: transparent; border: none; color: #fff" id="menu-sub" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end menu-app" style="width: 200px;">
                            <li><div class="dropdown-item seleccionar-menu" id="menu-debug">VER DEBUG</div></li>
                            ${usuario.id ? `
                            <li><hr class="dropdown-divider"></li>
                            <li><div class="dropdown-item seleccionar-menu" id="menu-login">INICIAR SESION</div></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><div class="dropdown-item seleccionar-menu" id="menu-nada">NADA</div></li>
                            ` : '' }
                        </ul>
                        <img src="${usuario.avatar ? `https://cdn.discordapp.com/avatars/${usuario.id}/${usuario.avatar}.webp` : 'https://cdn.discordapp.com/embed/avatars/0.png'}" id="avatar" class="foto${ejecutado ? '' : ' anim_imagen'}" alt="AVATAR DE ${usuario.username ? usuario.username.toUpperCase() : 'USUARIO DESCONOCIDO'}">
                        <div class="texto-foto">
                            <h1 style="font-size: 60px; line-height: 85%; margin: 0;">${usuario.username ? usuario.username.toUpperCase() : 'USUARIO DESCONOCIDO'}<span class="blurple" style="letter-spacing: -2px;">#${usuario.discriminator ? usuario.discriminator : '0000'}</span></h1>
                            <h4 style="margin-top: 5px; margin-bottom: 10px;">${usuario.bio ? usuario.bio.toUpperCase() : 'DESCRIPCIÓN DESCONOCIDA'}</h4>
                            <hr style="background-color: #00000090; height: 10px; margin: 0px 0px 10px 0px; border: none;">
                            <div class="row">
                                <div class="col">
                                    ${usuario.email ? usuario.email.toUpperCase() : 'SIN EMAIL'}
                                </div>
                                <div class="col">
                                    VERIFICADO: ${usuario.verified ? 'SÍ' : 'NO'}
                                </div>
                                <div class="col">
                                    NITRO: ${usuario.premium_type ? usuario.premium_type == 1 ? 'CLASSIC' : 'BOOST' : 'NO'}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    ${usuario.phone ? 'NUMERO: '.concat(phoneFns.format('+NN NNN NN NN NN', usuario.phone)) : 'SIN NUMERO'}
                                </div>
                                <div class="col">
                                    2FA ACTIVADO: ${usuario.mfa_enabled ? 'SÍ' : 'NO'}
                                </div>
                                <div class="col">
                                    IDIOMA: ${usuario.locale ? usuario.locale.toUpperCase() : 'NO'}
                                </div>
                            </div>
                        </div>
                    </div>
                    `

                ejecutado = true
                
                document.getElementById('infousuario').innerHTML = perfil

                $('#menu-debug').click(function() {

                    ipc.send('app:debug')

                })

                $('#menu-login').click(function() {

                    ipc.send('app:login', token())

                })
                
                $('#menu-nada').click(function() {
                    
                    alert('Nada')

                })

            }


            async function peticionDiscord() {
                
                let resultado = await axios.get('https://discordapp.com/api/v9/users/@me', {
                    headers: {
                        authorization: token()
                    }
                }).catch(e => {

                    actualizarPerfil({})

                    verGuardar(true)

                    $('#login').attr('disabled', 'disabled')
                    $('#guardar').attr('disabled', 'disabled')
                    $('#cuentas-token').html('Seleccionar cuenta')
                

                    let tokens = localStorage.getItem('cuentas')

                    if (tokens) {

                        let tokensArr = JSON.parse(tokens)

                        let existe = tokensArr.find(x => x.token && x.token == token())
                        
                        if (existe) {

                            document.getElementById('consola').innerHTML = `{'text': 'Se ha eliminado la cuenta con el token ${token()} porque el token es invalido.'}`
                        
                        } else {
                            
                            if (e.response) {
                                
                                document.getElementById('consola').innerHTML = JSON.stringify(e.response.data, null, 2)

                            } else {

                                document.getElementById('consola').innerHTML = e.toString()

                            }

                            return 
                        
                        }
                            

                        let index = tokensArr.map(function(x) { return x.token }).indexOf(token())

                        tokensArr.splice(index, 1)
                        
                        localStorage.setItem('cuentas', JSON.stringify(tokensArr))
                    
                    } else {   
                        

                        if (e.response) {

                            document.getElementById('consola').innerHTML = JSON.stringify(e.response.data, null, 2)

                        } else {

                            document.getElementById('consola').innerHTML = e.toString()

                        }

                    }

                    actualizarCuentas()
                })

                if (resultado) {
                
                    let usuario = resultado.data

                    let datosObj = {token: token(), nombre: usuario.username, avatar: usuario.avatar ? `https://cdn.discordapp.com/avatars/${usuario.id}/${usuario.avatar}.webp` : 'https://cdn.discordapp.com/embed/avatars/0.png' }
                    
                    actualizarPerfil(usuario)

                    $('#login').removeAttr('disabled')
                    $('#guardar').removeAttr('disabled', 'disabled')
                    $('#objToken').val(JSON.stringify(datosObj))

                    document.getElementById('consola').innerHTML = JSON.stringify(usuario, null, 2)

                    let tokens = localStorage.getItem('cuentas')

                    if (tokens) {

                        let tokensArr = JSON.parse(tokens)

                        let existe = tokensArr.find(x => x.token && x.token == datosObj.token)
                            
                        if (!existe) {

                            $('#cuentas-token').html('Seleccionar cuenta')

                            verGuardar(true)

                            actualizarCuentas()

                            return
                        }

                        let index = tokensArr.map(function(x) { return x.token }).indexOf(datosObj.token)

                        tokensArr.splice(index, 1)

                        tokensArr.push(datosObj)
                            
                        localStorage.setItem('cuentas', JSON.stringify(tokensArr))

                        actualizarCuentas()

                        $('#cuentas-token').html(`<img src="${datosObj.avatar}" class="foto-token" alt="Avatar"> ${datosObj.nombre.length >= 12 ? datosObj.nombre.substr(0, 12).toUpperCase().concat('...') : datosObj.nombre.toUpperCase()}`)
                        
                        verGuardar(false)

                    }
                }
            }

            document.getElementById('token').addEventListener('input', async function() {

                await peticionDiscord()
                
            })

            actualizarPerfil({})

        </script>
    </body>
</html>